In [2]:
import pandas as pd
df=pd.read_csv(r'C:\Users\abdel\AppData\Local\Temp\e31709bf-1d2a-4a4c-98c0-f70d2146b75f_simplemaps_worldcities_basicv1.77.zip.75f\worldcities.csv')

In [23]:
df1 = df[df['country'] == 'Morocco']

In [24]:
df1

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
214,Casablanca,Casablanca,33.5333,-7.5833,Morocco,MA,MAR,Casablanca-Settat,admin,3499000.0,1504175315
690,Fès,Fes,34.0433,-5.0033,Morocco,MA,MAR,Fès-Meknès,admin,1112072.0,1504861997
795,Marrakech,Marrakech,31.6300,-8.0089,Morocco,MA,MAR,Marrakech-Safi,admin,966987.0,1504172585
809,Tangier,Tangier,35.7767,-5.8039,Morocco,MA,MAR,Tanger-Tétouan-Al Hoceïma,admin,947952.0,1504861504
904,Sale,Sale,34.0333,-6.8000,Morocco,MA,MAR,Rabat-Salé-Kénitra,NaN,850403.0,1504989034
...,...,...,...,...,...,...,...,...,...,...,...
46189,Lambarkiyine,Lambarkiyine,33.2000,-7.5000,Morocco,MA,MAR,Casablanca-Settat,NaN,8559.0,1504527523
46604,Bir Anzarane,Bir Anzarane,23.8918,-14.5364,Morocco,MA,MAR,Dakhla-Oued Ed-Dahab,NaN,6244.0,1504999993
46991,Tifariti,Tifariti,26.1580,-10.5670,Morocco,MA,MAR,Laâyoune-Sakia El Hamra,primary,3000.0,1504999990
47293,Uad Damran,Uad Damran,27.4181,-12.9842,Morocco,MA,MAR,Laâyoune-Sakia El Hamra,NaN,1108.0,1504003880
47580,Lemsid,Lemsid,26.5482,-13.8482,Morocco,MA,MAR,Laâyoune-Sakia El Hamra,NaN,100.0,1504999975

In [25]:
cities = df1.loc[:, ['city', 'lat']]

In [26]:
cities

               city      lat
214      Casablanca  33.5333
690             Fès  34.0433
795       Marrakech  31.6300
809         Tangier  35.7767
904            Sale  34.0333
...             ...      ...
46189  Lambarkiyine  33.2000
46604  Bir Anzarane  23.8918
46991      Tifariti  26.1580
47293    Uad Damran  27.4181
47580        Lemsid  26.5482

[587 rows x 2 columns]

In [27]:
cities['lat']=cities['city']

In [28]:
cities.rename(columns = {'city':'name', 'lat':'value'}, inplace = True)

In [29]:
cities.to_csv('src\layout\cities.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\abdel\AppData\Local\Temp\ipykernel_9828\2781358991.py:1: SyntaxWarning: invalid escape sequence '\l'
  cities.to_csv('src\layout\cities.csv', index=False)